<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#/boker">Bøker</a></li>
        <li><a ng-href="#/bok" ng-click="">Legg til ny bok</a></li>
    </ul>
    <h3 class="text-muted">Bibliotek</h3>
</div>

<div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="book in books">{{book}}</li>
    </ul>
    <!--<p><a class="btn btn-lg btn-success" ng-href="#">Kongelonge!</a></p>-->
</div>



<div >
    <ul>
        <li ng-repeat="x in liste">{{x}}</li>
    </ul>
</div>


